.app {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://cdn.pixabay.com/photo/2016/06/22/16/22/clouds-1473311_1280.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
